<log4net>
	<!-- Configure root logger -->
	<root>
		<level value="ALL" />
		<appender-ref ref="ConsoleAppender" />
		<appender-ref ref="FileAppender" />
	</root>

	<!-- Configure Console Appender -->
	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<!-- Configure Rolling File Appender -->
	<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
		<!-- Specify the file path (ensure it's a valid path for your environment) -->
		<file value="c:\\logs\\jsontoword.log" />
		<appendToFile value="true" />
		<rollingStyle value="Size" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>
</log4net>
